<footer>
    <small>&copy Augusto Oazi 2020. Desenvolvido com <a href="https://11ty.dev" target="_blank" rel="noopener">Eleventy</a>. Hospedado em <a href="https://netlify.com" target="_blank" rel="noopener">Netlify</a>. Código-fonte no <a href="https://github.com/augustooazi/site_personal" target="_blank" rel="noopener">Github</a>.</small>
</footer>