<footer>
    <p>Não tenho rede sociais. É ótimo! Recomendo. ;)</p>
    <p class="en">I don't have social media. It's great! I recommend. ;)</p>
    <small>&copy Augusto Oazi 2020. Desenvolvido com <a href="https://11ty.dev" target="_blank" rel="noopener">Eleventy</a>. Hospedado em <a href="https://vercel.com" target="_blank" rel="noopener">Vercel</a>. Código-fonte no <a href="https://github.com/augustooazi/site_personal" target="_blank" rel="noopener">Github</a>.</small>
</footer>