<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Augusto Oazi</title>
    <meta name="Description" content="Prazer, meu nome é Augusto. Sou engenheiro de software na Oazi Engenharia. Amo futebol (e o Palmeiras) e me interesso muito por novas tecnologias.">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>

    {% set css %}
        {% include "css/styles.css" %}
    {% endset %}
    <style>
        {{ css | safe }}
    </style>

</head>