<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Augusto Oazi</title>
    <meta name="Description" content="Com mais de 25 anos de experiência em automação industrial, a Oazi Engenharia realiza projetos em indústrias de diversos setores, seguindo os padrões de qualidade e segurança mais exigentes do mercado.">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

    {% set css %}
        {% include "css/styles.css" %}
    {% endset %}
    <style>
        {{ css | safe }}
    </style>

</head>