<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.metaTitle }}</title>
    <meta name="Description" content="{{ 'metaDescription' | i18n }}">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>

    {% set css %}
        {% include "css/styles.css" %}
    {% endset %}
    <style>
        {{ css | cssmin | safe }}
    </style>

</head>