<header>
    <h1>Augusto Oazi</h1>
    <nav>
        <a href="mailto:ola@augustooazi.com" target="_blank" rel="noopener">Email</a>
        <a href="https://github.com/augustooazi" target="_blank" rel="noopener">Github</a>
        <a href="https://unsplash.com/augustooazi" target="_blank" rel="noopener">Fotos</a>
    </nav>
</header>