---
layout: layouts/error.njk
---
<h2>Página não encontrada | Page not found</h2>

<p><a href="https://www.augustooazi.com">Clique aqui para retornar à página inicial</a></p>
<p><a href="https://www.augustooazi.com" class="en">Click here to return to the home page</a></p>