---
layout: layouts/base.njk
---
<section id="intro">
    <p>Oi, meu nome é Augusto. Sou engenheiro de software na Oazi Engenharia. Amo futebol (e o Palmeiras) e me interesso muito por novas tecnologias.</p>
    <p class="en">Hi, my name is Augusto. I am a Software Engineer at Oazi Engineering. I love football (and Palmeiras) and I'm deeply interested in new technologies.</p>
</section>

<h2>Projetos</h2>
<section id="projetos">
    <ul>
        <li>
            <a href="https://olheiro.net" target="_blank" rel="noopener"><h3>Olheiro</h3></a>
            <div class="desc">
                <p class="pt">Um site sobre futebol e dados.</p>
                <p class="en">A site about football and data.</p>
            </div>
        </li>
        <li>
            <a href="https://anythingpalmeiras.com" target="_blank" rel="noopener"><h3>Anything Palmeiras</h3></a>
            <div class="desc">
                <p class="pt">Um blog sobre Palmeiras em inglês.</p>
                <p class="en">A blog about Palmeiras in English.</p>
            </div>
        </li>
        <li>
            <h3>Sites</h3>
            <div class="desc">
                <p class="pt">Alguns sites pela internet.</p>
                <p class="en">Some sites over the internet.</p>
            </div>
            <ul class="sites">
                <li><a href="https://www.oaziengenharia.com" target="_blank" rel="noopener">Oazi Engenharia</a></li>
                <li><a href="https://www.rafaelaoazi.com" target="_blank" rel="noopener">Rafaela Oazi</a></li>
            </ul>
        </li>
    </ul>
</section>

<p>Não tenho rede sociais. É ótimo! Recomendo. ;)</p>
<p class="en">I don't have social media. It's great! I recommend. ;)</p>