---
layout: base.njk
---
<p>Oi, eu sou o Augusto.</p>

<h2>Projetos</h2>
<ul>
    <li>
        <h3>Olheiro</h3>
        <p>Descrição em português</p>
        <p>Descrição em inglês</p>
    </li>
    <li>
        <h3>Anything Palmeiras</h3>
        <p>Descrição em português</p>
        <p>Descrição em inglês</p>
    </li>
    <li>
        <h3>Sites</h3>
        <p>Descrição em português</p>
        <p>Descrição em inglês</p>
    </li>
</ul>